[build]
  command = "npm run build"
  publish = "."

[[redirects]]
  from = "/:path"
  to = "/:path.html"
  status = 200
  force = false

[[redirects]]
  from = "/*"
  to = "/:splat.html"
  status = 200
  force = false
